body {
  background-color: rgb(228, 228, 255);
  font-family: 'Times New Roman', Times, serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
img {
  margin-bottom: 30px;
}

img:hover {
  transform: translateX(-50px);
}

button {
  background-color: #ffc7ee;
  color: #000;
  padding: 15px;
  width: 250px;
  font-size: 16px;
  border-radius: 30px;
  cursor: pointer;
  margin-bottom: 10px;
}

button:hover {
  background-color: #ffffff;
}

#view-pets {
  background-color: bisque;
  border: 2px solid #000;
  color: #000;
}

#view-pets:hover {
  background-color: #ffffff;
}